<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <legend><%= t('category') %></legend>
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="col-md-2"><%= t('name') %></th>
        <th class="col-md-1"><%= t('actions') %> <%= link_to new_category_path, class: 'add-button link-color-black' do %>
              <span class="glyphicon glyphicon-plus"></span><%= t('add') %></th>
          <% end %>
          </thead>
      <tbody>
      <% @categories.each do |c| %>
          <tr>
            <td class="col-md-2"><%= c.name %></td>
            <td class="col-md-1">
              <%= link_to edit_category_path(c), :class => 'link-color-black' do %>
                  <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
              <%= link_to category_path(c), method: :delete, :class => 'link-color-black' do %>
                  <span class="glyphicon glyphicon-remove"></span>

              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
