<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <legend><%= t('category') +'-'+ t('products') %></legend>
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="col-md-2"><%= t('name') %></th>
        <th class="col-md-1"><%= t('actions') %> <%= link_to new_category_product_path(@category), class: 'add-button link-color-black' do %>
              <span class="glyphicon glyphicon-plus"></span><%= t('add') %></th>
          <% end %>
          </thead>
      <tbody>
      <% @products.each do |p| %>
          <tr>
            <td class="col-md-2"><%= p.name %></td>
            <td class="col-md-1">
              <%= link_to edit_category_product_path(p, id: p.id), :class => 'link-color-black' do %>
                  <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
              <%= link_to category_product_path(p, id: p.id), method: :delete, :class => 'link-color-black' do %>
                  <span class="glyphicon glyphicon-remove"></span>

              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
