<%= render 'layouts/partials/nav_profile' %>
<div class="col-sm-9">
  <div class="col-sm-12">
    <legend><%= t('change_password') %></legend>
  </div>
  <%= form_for(@user, :url => {:action => 'update_password'}, html: {role: 'form'}) do |f| %>
      <div class="col-md-6 form-group">
        <%= f.label :password, 'Password' %><br/>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="col-md-6 form-group">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit t('update'), class: 'btn btn-primary' %>
      </div>
  <% end %>
</div>
