<tr>
  <%= form_for order_item, action: :update, remote: true do |f| %>
      <td class="col-md-6">
        <div class="media">
          <a class="thumbnail pull-left" href="#">
            <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;">
          </a>
          <div class="media-body">
            <p><%= link_to product.name, category_product_path(category_id: product.category_id, id: product.id), class: 'link-color-black' %></p>
            <p><%= t('category') %>:<%= link_to product.category.name, category_products_path(category_id: product.category.id), class: 'link-color-black' %></p>
            <span><%= t('status') %></span><span class="text-warning"><strong><%= t('stock') %></strong></span>
          </div>
        </div>
      </td>
      <td class="col-md-1" style="text-align: center">
        <%= f.number_field :quantity, value: order_item.quantity.to_i, class: 'form-control', min: 1 %>
        <%= f.hidden_field :product_id, value: product.id %>
      </td>
      <td class="col-md-1 text-center"><strong><%= number_to_currency(order_item.unit_price, unit: '€', format: '%n %u') %></strong></td>
      <td class="col-md-1 text-center"><strong><%= number_to_currency(order_item.total_price, unit: '€', format: '%n %u') %></strong></td>
      <td class="col-md-2">
        <%= link_to t('remove'), order_item,
                    {data: {confirm: t('answer_delete', item: order_item.product.name)},
                     method: :delete, remote: true, class: 'btn btn-danger'} %>
      </td>
  <% end %>
</tr>
