<table class="table table-hover">
  <thead>
  <tr>
    <th><%= t('product') %></th>
    <th><%= t('quantity') %></th>
    <th class="text-center"><%= t('price') %></th>
    <th class="text-center"><%= t('total') %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <div class="cart-row">
    <% @order_items.each do |order_item| %>
        <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
    <% end %>
  </div>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><h5><%= t('subtotal') %></h5></td>
    <td class="text-right"><h5><strong><%= number_to_currency(current_order.subtotal, unit: '€', format: '%n %u') %></strong></h5></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-shopping-cart"></span> <%= t('continue_shopping') %>
      </button>
    </td>
    <td>
      <%= link_to(image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), express_checkout_path)%>
      <button type="button" class="btn btn-success">
        <%= t('checkout') %> <span class="glyphicon glyphicon-play"></span>
      </button>
    </td>
  </tr>
  </tbody>
</table>