<div class="container">
  <div class="row">
    <legend><%= t('checkout_details') %></legend>
    <div>
      <ul>
        <li><%= t('firstname') %>: <%= @details.params['first_name'] %></li>
        <li><%= t('lastname') %>: <%= @details.params['last_name'] %></li>
        <li><%= t('subtotal') %>: <%= @details.params['order_total'] %>€</li>
        <li><%= t('countryname') %>: <%= @details.params['country_name'] %></li>
        <li><%= t('city') %>: <%= @details.params['city_name'] %></li>
      </ul>
    </div>
    <div>
      <%= form_tag purchase_path do %>
          <%= hidden_field_tag 'token', @token %>
          <%= hidden_field_tag 'PayerID', @payer_id %>
          <%= submit_tag t('submit_purchase'), class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
