<div class="main">
  <div class="wrap">
    <div class="preview-page">
      <div class="section group">
        <div class="cont-desc col-md-12">
          <ul class="back-links">
            <li><a href="#">Home</a> ::</li>
            <li><a href="#">Product Page</a> ::</li>
            <li>Product Name</li>
            <div class="clear"></div>
          </ul>
          <div class="product-details">
            <div class="grid col-md-2">
              <%= image_tag '/assets/images/'+@product.image %>
            </div>
            <div class="desc col-md-5">
              <h2><%= @product.name %></h2>
              <p><%= @product.description %></p>
              <div class="price">
                <p><%= t('price') %>: <span><%= @product.price %>€</span></p>
              </div>
              <div class="share-desc">
                <div class="share">
                  <p><%= t('number_units') %>:</p><input type="number" class="text_box" type="text" value="1" min="1"/>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <a class="btn btn-success pull-right" href="#"><%= t('add_cart') %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
