<!DOCTYPE html>
<html>
<head>
  <title>Practica</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header">
  <div class="wrap">
    <div class="header_top">
      <div class="logo">
        <%= link_to image_tag('/assets/images/logo_horitzontal.png'), root_path %>
      </div>
      <div class="header_top_right">
        <div class="search_box">
          <p class="login-text"><%= t 'search' %></p>
          <%= form_tag search_index_path, :method => 'get' do %>
              <%= text_field_tag :search, params[:search], placeholder: t('product') %>
          <% end %>
          <div class="languages-container">
            <%= link_to 'Castellano', params.merge({:locale => :es}), class: 'language-link' %>
            <span class='language-link'>|</span>
            <%= link_to 'English', params.merge({:locale => :en}), class: 'language-link' %>
          </div>
        </div>

      </div>
      <div class="clear"></div>
    </div>
    <%= render 'layouts/navigation' %>
  </div>
</div>
<!------------End Header ------------>
<div class="row">
  <div id="flash-messages">
    <%= render 'layouts/messages' %>
  </div>
  <%= devise_error_messages! %>
  <%= yield %>
</div>

<div class="footer">
  <div class="wrap">
    <div class="copy_right">
    </div>
    <div class="footer-nav">
      <ul>
        <li><a href="#">Terms of Use</a> :</li>
        <li><a href="#">Privacy Policy</a> :</li>
        <li><a href="contact.html">Contact Us</a> :</li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>
  </div>
  <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
</div>
</body>
</html>
